body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
}
button{
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}
img{
    border: .1rem solid black;
    border-radius: 5px;
    cursor: pointer;
}
h3{
    font-size: 25px;
}